body,
html {
    height: 100%;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centered {
    text-align: center;
}

input[type="text"],
button {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid greenyellow;
}


button {
    background-color: rgb(148, 238, 13);
    cursor: pointer;
    border: 5px dashed white;
    color: white;
}

button:hover {
    box-shadow: 4px 5px rgb(214, 244, 169);
}